/* Effects and their alternate versions */
#sidebar.SlideInOnTop{
    animation: SlideInOnTop 0.3s ease forwards;
}
#sidebar.SlideInOnTopRev{
    animation: SlideInOnTopRev 0.3s ease backwards alternate;
}
#container.Reveal{
    animation: Reveal 0.5s ease forwards;
}
#container.RevealRev{
    animation: RevealRev 0.5s ease backwards alternate;
}
#sidebar.Push{
    animation: PushS 0.5s ease forwards;
}
#sidebar.PushRev{
    animation: PushSRev 0.5s ease backwards alternate;
}
#container.Push{
    animation: PushC 0.5s ease forwards;
} 
#container.PushRev{
    animation: PushCRev 0.5s ease backwards alternate;
} 
#sidebar.SlideAlong{
    animation: SlideAlongS 0.3s ease forwards;
}
#sidebar.SlideAlongRev{
    animation: SlideAlongSRev 0.3s ease backwards alternate;
}
#container.SlideAlong{
    animation: SlideAlongC 0.5s ease forwards;
}
#container.SlideAlongRev{
    animation: SlideAlongCRev 0.3s ease backwards alternate;
}
#sidebar.ReverseSlideOut{
    animation: ReverseSlideOutS 0.5s ease forwards;
}
#container.ReverseSlideOut{
    animation: ReverseSlideOutC 0.5s ease forwards;
}
#sidebar.ReverseSlideOutRev{
    animation: ReverseSlideOutSRev 0.5s ease backwards alternate;
}
#container.ReverseSlideOutRev{
    animation: ReverseSlideOutCRev 0.5s ease backwards alternate;
}
#sidebar.RotatePusher{
    animation: RotatePusherS 0.5s ease forwards;
}
#container.RotatePusher{
    animation: RotatePusherC 0.5s ease forwards;
}
#sidebar.RotatePusherRev{
    animation: RotatePusherSRev 0.5s ease backwards alternate;
}
#container.RotatePusherRev{
    animation: RotatePusherCRev 0.5s ease backwards alternate;
}
#sidebar.RotateIn3D{
    animation: RotateIn3DS 1s ease forwards;
}
#container.RotateIn3D{
    animation: RotateIn3DC 0.5s ease forwards;
}
#sidebar.RotateIn3DRev{
    animation: RotateIn3DSRev 1s ease backwards alternate;
}
#container.RotateIn3DRev{
    animation: RotateIn3DCRev 0.5s ease backwards alternate;
}
#sidebar.RotateOut3D{
    animation: RotateOut3DS 0.75s ease forwards;
}
#container.RotateOut3D{
    animation: RotateOut3DC 0.5s ease forwards;
}
#sidebar.RotateOut3DRev{
    animation: RotateOut3DSRev 1s ease backwards alternate;
}
#container.RotateOut3DRev{
    animation: RotateOut3DCRev 0.5s ease backwards alternate;
}


.ScaleDownPusher{
    animation: ScaleDownPusher 1s ease forwards;
}
.ScaleUp{
    animation: ScaleUp 1s ease forwards;
}
.ScaleRotatePusher{
    animation: ScaleRotatePusher 1s ease forwards;
}
.OpenDoor{
    animation: OpenDoor 1s ease forwards;
}
.FallDown{
    animation: FallDown 1s ease forwards;
}
.DelayedRotate3D{
    animation: DelayedRotate3D 1s ease forwards;
}

/* Keyframes */
@keyframes SlideInOnTop{
    from{
        z-index: 3;
        margin-left: -300px;
    }
    to{
        z-index: 3;
        margin-left: 0px;
    }
}
@keyframes SlideInOnTopRev{
    from{
        z-index: 3;
        margin-left: 0px;
    }
    to{
        z-index: 3;
        margin-left: -300px;
    }
}
/*  */
@keyframes Reveal{
    from{
        left: 0;
    }
    to{
        left: 300px;
    }
}
@keyframes RevealRev{
    from{
        left: 300px;
    }
    to{
        left: 0px;
    }
}
/*  */
@keyframes PushS{
    from{
        margin-left: -300px;
    }    
    to{
        margin-left: 0px;
    }
}
@keyframes PushC{
    from{
        left: 0;
    }    
    to{
        left: 300px;
    }
}
@keyframes PushSRev{
    from{
        margin-left: 0px;
    }    
    to{
        margin-left: -300px;
    }
}
@keyframes PushCRev{
    from{
        left: 300px;
    }    
    to{
        left: 0px;
    }
}
/*  */
@keyframes SlideAlongS{
    from{
        margin-left: -300px;
    }    
    to{
        margin-left: 0px;
    }
}
@keyframes SlideAlongC{
    from{
        left: 0px;
    }    
    to{
        left: 300px;
    }
}
@keyframes SlideAlongSRev{
    from{
        margin-left: 0px;
    }    
    to{
        margin-left: -300px;
    }
}
@keyframes SlideAlongCRev{
    from{
        left: 300px;
    }    
    to{
        left: 0px;
    }
}
@keyframes ReverseSlideOutS{
    from{
        margin-left: 300px;
    }
    to{
        margin-left: 0px;
    }
}
@keyframes ReverseSlideOutC{
    from{
        left: 0;
    }    
    to{
        left: 300px;
    }
}
@keyframes ReverseSlideOutSRev{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 300px;
    }
}
@keyframes ReverseSlideOutCRev{
    from{
        left: 300px;
    }    
    to{
        left: 0px;
    }
}
@keyframes RotatePusherS{
    from{
        transform: translate3d(-300px,0,0) rotateY(0deg);
        transform-origin: 100% 50%;
    }
    to{
        transform: translate3d(0,0,0) rotateY(25deg);
        transform-origin: 100% 50%;
    }
}
@keyframes RotatePusherC{
    from{
        transform: translate3d(0,0,0) rotateY(0deg);
        transform-origin: 0 0;
    }    
    to{
        transform: translate3d(300px,0,0) rotateY(-25deg);
        transform-origin: 0 50%;
    }
}
@keyframes RotatePusherSRev{
    from{
        transform: translate3d(0,0,0) rotateY(25deg);
        transform-origin: 100% 50%;
    }
    to{
        transform: translate3d(-300px,0,0) rotateY(0deg);
        transform-origin: 100% 50%;
    }
}
@keyframes RotatePusherCRev{
    from{
        transform: translate3d(300px,0,0) rotateY(-25deg);
        transform-origin: 0 50%;
    }    
    to{
        transform: translate3d(0px,0,0) rotateY(0deg);
        transform-origin: 0 0;
    }
}

@keyframes RotateIn3DS{
    from{
        transform: translate3d(0,0,0) rotateY(-180deg);
        transform-origin: center right;
        left: 0px;
    }
    to{
        transform-origin: center right;
        transform: translate3d(0,0,0) rotateY(0deg);
        left: 0px;
    }
}
@keyframes RotateIn3DC{
    from{
        left: 0px;
    }
    to{
        left: 300px;
    }
}
@keyframes RotateIn3DSRev{
    from{
        transform-origin: center right;
        transform: translate3d(0,0,0) rotateY(0deg);
        left: 0px;
    }
    to{
        transform: translate3d(0,0,0) rotateY(-180deg);
        transform-origin: center right;
        left: 0px;
    }
}
@keyframes RotateIn3DCRev{
    from{
        left: 300px;
    }
    to{
        left: 0px;
    }
}
@keyframes RotateOut3DS{
    from{
        transform: translate3d(0,0,0) rotateY(90deg);
        transform-origin: center right;
        left: 0px;
    }
    to{
        transform-origin: center right;
        transform: translate3d(0,0,0) rotateY(0deg);
        left: 0px;
    }
}
@keyframes RotateOut3DC{
    from{
        left: 0px;
    }
    to{
        left: 300px;
    }
}
@keyframes RotateOut3DSRev{
    from{
        transform-origin: center right;
        transform: translate3d(0,0,0) rotateY(0deg);
        left: 0px;
    }
    to{
        transform: translate3d(0,0,0) rotateY(90deg);
        transform-origin: center right;
        left: 0px;
    }
}
@keyframes RotateOut3DCRev{
    from{
        left: 300px;
    }
    to{
        left: 0px;
    }
}



@keyframes {
    from{

    }
    to{
        
    }
}
@keyframes {
    from{

    }
    to{
        
    }
}
@keyframes {
    from{

    }
    to{
        
    }
}
@keyframes {
    from{

    }
    to{
        
    }
}
@keyframes {
    from{

    }
    to{
        
    }
}
@keyframes {
    from{

    }
    to{
        
    }
}
@keyframes {
    from{

    }
    to{
        
    }
}