html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:arial,sans-serif;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
}
#leftbar{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 100%;
    background-color: #252a3a;
    align-items: center;
}
#compose{
    border-radius: 20px;
    padding: 8px 16px;
    margin: 16px 0;
    background-color: #1b98f8;
    width: fit-content;
    height: fit-content;
}
#leftbar .option{
    line-height: 30px;
    align-self: flex-start;
    margin-left: 25px;
}
#leftbar .label{
    align-self: flex-start;
    margin-left: 25px;
    line-height: 30px;
    justify-content: center;
}
#leftbar .square{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 20%;
    border: 1px solid #000;
    margin-right: 10px;
}
#mailList{
    width: 350px !important;
    height: 100%;
    border-right:1px solid #ccc;
    overflow-y: scroll;
}
#mailList .message{
    padding: 14px 16px;
    border-bottom:1px solid #ccc;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
}
#mailList .message div{
    display: block;
    margin:0;
    height: fit-content;
    width: 80%;
}
#mailList .message .mailName{
    font-size: 13px;
    font-weight: bold;
    color: #999;
}
#mailList .message .mailTitle{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
#mailList .message .mailCont{
    font-size: 13px;
    color: #000;
    margin: 7px 0;
}
#mailList .message:hover{
    background-color: #eee;
}
#mailList img{
    width: 42px;
    height: 42px;
    margin-right: 8px;
    border-radius: 3px;
    float: left;
}
.notReadMail{
    border-left: 6px solid #1b98f8;
}
.activeMail{
    border-left: 6px solid #e74c3c;
}
#readMail{
    width: calc(100% - 500px);
    height: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
}
#readMail #mailHeader{
    height: 107px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}
#readMail #mailHeader #titleHeader{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex: 1;
}
#readMail #mailHeader #titleBig{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    color: #000;
    margin-top: auto;
    margin-left: 15px;
    justify-content: flex-start;
}
#readMail #mailHeader #titleSmall{
    font-size: 16px;
    margin-bottom: auto;
    color: #000;
    height: fit-content;
    margin-left: 15px;
    align-self: flex-end;
}
#readMail #mailHeader #titleSmall #tS{
    width:fit-content;
    color: #1b98f8;
}
#readMail #mailHeader #titleSmall .tS::before{
    content: "From ";
    color: #000;
}
#readMail #mailHeader #titleSmall .tS::after{
    content: " at ";
    color: #000;
}
#readMail #mailHeader #titleSmall #tSd{
    width: fit-content;
    color: #999;
}
#readMail #mailHeader #buttons{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 100%;
}
#readMail #mailHeader .button{
    padding: 6px 26px;
    width: fit-content;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #666;
    font-size: 16px;
}
#readMail #mailContent{
    padding: 16px;
}