html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #778ca3;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#cardContainer{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}
#cardContainer .card{
    position: relative;
    box-shadow: 3px 10px 20px black;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    background-color: #fff;
    margin: 20px;
    align-items: center;
}
.card .title{
    padding: 15px 0 15px 0;
    font-size: 26px;
    flex-grow: 0.25;
    font-weight: 600;
    color: #5c6e81;
    width: fit-content;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    justify-self: center;
}
.card .list{
    flex-grow: 1;
    width: 100%;
    color: #5c6e81;
    line-height: 200%;
}
.list ul{
    list-style-type: square;
}
.card .price{
    width: 100%;
    font-size: 16px;
    padding: 10px 0 10px 0;
    background-color: #a8d4cc;
    text-align: center;
    color: #5c6e81;
}
.card.leftActive{
    animation: leftActive 0.4s linear forwards;
}
.card.leftInactive{
    animation: leftInactive 0.4s linear forwards;
}
.card.rightActive{
    animation: rightActive 0.4s linear forwards;
}
.card.rightInactive{
    animation: rightInactive 0.4s linear forwards;
}
#switchButton{
    position: absolute;
    bottom: 150px;
    user-select: none;
    width: fit-content;
    height: fit-content;
    background-color: #cf7a71;
    border-radius: 25px;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px 10px 25px;
}

@keyframes leftActive{
    0%{
        z-index: 3;
        transform: scale(0.9);
        left: 75px;
    }
    50%{
        left: 0;
        transform: scale(1);
        z-index: 5;
    }
    100%{
        z-index: 6;
        transform: scale(1.1);
        left: 75px;
    }
}
@keyframes leftInactive{
    0%{
        z-index: 6;
        transform: scale(1.1);
        left: 75px;
    }
    50%{
        left: 0;
        transform: scale(1);
        z-index: 4;
    }
    100%{
        z-index: 3;
        transform: scale(0.9);
        left: 75px;
    }
}
@keyframes rightActive{
    0%{
        z-index: 3;
        transform: scale(0.9);
        right: 75px;
    }
    50%{
        right: 0;
        transform: scale(1);
        z-index: 5;
    }
    100%{
        z-index: 6;
        transform: scale(1.1);
        right: 75px;
    }
}
@keyframes rightInactive{
    0%{
        z-index: 6;
        transform: scale(1.1);
        right: 75px;
    }
    50%{
        right: 0;
        transform: scale(1);
        z-index: 4;
    }
    100%{
        z-index: 3;
        transform: scale(0.9);
        right: 75px;
    } 
}