#contactLeft{
    width: 65%;
}
#contactLeft h2{
    font-size: 66px;
    margin-top: 0;
    margin-bottom: 0;
}
#contactLeft :nth-child(2){
    font-size: 24px;
    font-family: 'Aleoitalic';
    font-style: italic;
}
#contactRight{
    display: flex;
    flex-direction: column;
    width: 24%;
}
#contactRight h2{
    font-size: 36px;
    margin-bottom: 0;
}
#contactRight a:nth-of-type(1),
#contactRight a:nth-of-type(2),
#contactRight a:nth-of-type(3){
    font-weight: normal;
    line-height: 2em;
}
#contactRight p{
    margin-top: 0;
    color: #656a6f;
    font-style: italic;
    line-height: 1.5em;
}
#vl{
    width: 1px;
    background-color: #9fa6aa;
    height: 400px;
    opacity: 0.5;
}
hr{
    width: 100%;
    margin-left: 0 !important;
    opacity: 0.5;
}
form{
    margin-top: 3em;
    min-height: 360px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    font-size: 16px !important;
    font-style: italic;
    border: 1px solid rgba(101,106,111,0.2);
    border-radius: 3px;
    transition: 0.3s;
    outline: none;
    font-family: 'Roboto' !important;
    color: #9fa6aa;
    margin-top: 1em;
    padding: 5px;
    padding-left: 15px;
}
input::placeholder{
    color: #9fa6aa;
    font-family:'Roboto' !important;
    font-size: 16px !important;
    font-style: italic;
}
input:focus{
    border: 1px solid rgba(255,192,0,0.5);
}
input[id="formName"], input[id="formEmail"]{
    width: 60%;
    height: 40px;
}
input[id="formMessage"]{
    width: 98%;
    height: 160px;
}
input[type="submit"]{
    width: 160px;
    background-color: #ffc000;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    font-size: 18px;
    transition: 0.3s;
    padding: 10px;
    margin-top: 1em;
}
input[type="submit"]:hover{
    background-color: #656a6f;
    cursor: pointer;
    color: #f3f4f5;
}
label{
    color: #ffc000;
    font-style: italic;
}
.formLabel{
    margin-top: 1em;
    display: none;
}