main{
    flex-direction: column;
}
.galleryContainer{
    width: 1140px;
}
.left{
    width: 30%;
    margin-right: 5%;
    float: left;
}
.left h2{
    font-size: 36px;
}
.left :nth-child(2){
    font-size: 24px;
    font-style: italic;
    font-family: 'Aleoitalic';
}
.right{
    width: 65%;
    float: left;
}
.right img{
    float: left;
    max-width: 100%;
    width: 47%;
    border: 6px solid #fff;
    box-sizing: border-box;
    margin: 1em 0;
}
.galleryContainer:nth-of-type(1) .right img:nth-child(odd){
    margin-right: 6%;
}
.galleryContainer:nth-of-type(2) .right img:nth-child(1){
    width: 100%;
}
.galleryContainer:nth-of-type(2) .right img:nth-child(2){
    margin-right: 6%;
}
.galleryContainer:nth-of-type(3) .right img{
    width: 100%;
}